openapi: 3.0.3
info:
  description: "# Introduction\nThe OpenDota API provides Dota 2 related data including\
    \ advanced match data extracted from match replays.\n\nYou can find data that\
    \ can be used to convert hero and ability IDs and other information provided by\
    \ the API from the [dotaconstants](https://github.com/odota/dotaconstants) repository.\n\
    \nWithout a key, you can make 2,000 free calls per day at a rate limit of 60 requests/minute.\
    \ We also offer a Premium Tier with unlimited API calls and higher rate limits.\
    \ Check out the [API page](https://www.opendota.com/api-keys) to learn more.\n\
    \    "
  title: OpenDota API
  version: 25.0.0
servers:
- url: https://api.opendota.com/api
paths:
  /matches/{match_id}:
    get:
      description: Match data
      operationId: get_matches_by_match_id
      parameters:
      - explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatchResponse'
          description: Success
      summary: "GET /matches/{match_id}"
      tags:
      - matches
  /players/{account_id}:
    get:
      description: Player data
      operationId: get_players_by_account_id
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PlayersResponse'
          description: Success
      summary: "GET /players/{account_id}"
      tags:
      - players
  /players/{account_id}/wl:
    get:
      description: Win/Loss count
      operationId: get_players_by_account_id_select_wl
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PlayerWinLossResponse'
          description: Success
      summary: "GET /players/{account_id}/wl"
      tags:
      - players
  /players/{account_id}/recentMatches:
    get:
      description: Recent matches played
      operationId: get_players_by_account_id_select_recent_matches
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  items:
                    $ref: '#/components/schemas/PlayerRecentMatchesResponse'
                  type: array
                type: array
          description: Success
      summary: "GET /players/{account_id}/recentMatches"
      tags:
      - players
  /players/{account_id}/matches:
    get:
      description: Matches played
      operationId: get_players_by_account_id_select_matches
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Fields to project (array)
        explode: true
        in: query
        name: project
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerMatchesResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/matches"
      tags:
      - players
  /players/{account_id}/heroes:
    get:
      description: Heroes played
      operationId: get_players_by_account_id_select_heroes
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerHeroesResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/heroes"
      tags:
      - players
  /players/{account_id}/peers:
    get:
      description: Players played with
      operationId: get_players_by_account_id_select_peers
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerPeersResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/peers"
      tags:
      - players
  /players/{account_id}/pros:
    get:
      description: Pro players played with
      operationId: get_players_by_account_id_select_pros
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerProsResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/pros"
      tags:
      - players
  /players/{account_id}/totals:
    get:
      description: Totals in stats
      operationId: get_players_by_account_id_select_totals
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerTotalsResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/totals"
      tags:
      - players
  /players/{account_id}/counts:
    get:
      description: Counts in categories
      operationId: get_players_by_account_id_select_counts
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PlayerCountsResponse'
          description: Success
      summary: "GET /players/{account_id}/counts"
      tags:
      - players
  /players/{account_id}/histograms/{field}:
    get:
      description: Distribution of matches in a single stat
      operationId: get_players_by_account_id_histograms_by_field
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Field to aggregate on
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  title: PlayerHistogramsResponse
                  type: object
                type: array
          description: Success
      summary: "GET /players/{account_id}/histograms"
      tags:
      - players
  /players/{account_id}/wardmap:
    get:
      description: Wards placed in matches played
      operationId: get_players_by_account_id_select_wardmap
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PlayerWardMapResponse'
          description: Success
      summary: "GET /players/{account_id}/wardmap"
      tags:
      - players
  /players/{account_id}/wordcloud:
    get:
      description: Words said/read in matches played
      operationId: get_players_by_account_id_select_wordcloud
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Number of matches to limit to
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of matches to offset start by
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player won
        explode: true
        in: query
        name: win
        required: false
        schema:
          type: integer
        style: form
      - description: "Patch ID, from dotaconstants"
        explode: true
        in: query
        name: patch
        required: false
        schema:
          type: integer
        style: form
      - description: Game Mode ID
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          type: integer
        style: form
      - description: Lobby type ID
        explode: true
        in: query
        name: lobby_type
        required: false
        schema:
          type: integer
        style: form
      - description: Region ID
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: integer
        style: form
      - description: Days previous
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: integer
        style: form
      - description: Lane Role ID
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: integer
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Whether the player was radiant
        explode: true
        in: query
        name: is_radiant
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs in the match (array)
        explode: true
        in: query
        name: included_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Account IDs not in the match (array)
        explode: true
        in: query
        name: excluded_account_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs on the player's team (array)
        explode: true
        in: query
        name: with_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: Hero IDs against the player's team (array)
        explode: true
        in: query
        name: against_hero_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Whether the match was significant for aggregation purposes.\
          \ Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches."
        explode: true
        in: query
        name: significant
        required: false
        schema:
          type: integer
        style: form
      - description: "The minimum number of games played, for filtering hero stats"
        explode: true
        in: query
        name: having
        required: false
        schema:
          type: integer
        style: form
      - description: The field to return matches sorted by in descending order
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PlayerWordCloudResponse'
          description: Success
      summary: "GET /players/{account_id}/wordcloud"
      tags:
      - players
  /players/{account_id}/ratings:
    get:
      description: Player rating history
      operationId: get_players_by_account_id_select_ratings
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerRatingsResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/ratings"
      tags:
      - players
  /players/{account_id}/rankings:
    get:
      description: Player hero rankings
      operationId: get_players_by_account_id_select_rankings
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerRankingsResponse'
                type: array
          description: Success
      summary: "GET /players/{account_id}/rankings"
      tags:
      - players
  /players/{account_id}/refresh:
    post:
      description: Refresh player match history
      operationId: post_refresh
      parameters:
      - description: Steam32 account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: PlayerRefreshResponse
                type: object
          description: Success
      summary: "POST /players/{account_id}/refresh"
      tags:
      - players
  /proPlayers:
    get:
      description: Get list of pro players
      operationId: get_pro_players
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerObjectResponse'
                type: array
          description: Success
      summary: GET /proPlayers
      tags:
      - pro players
  /proMatches:
    get:
      description: Get list of pro matches
      operationId: get_pro_matches
      parameters:
      - description: Get matches with a match ID lower than this value
        explode: true
        in: query
        name: less_than_match_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/MatchObjectResponse'
                type: array
          description: Success
      summary: GET /proMatches
      tags:
      - pro matches
  /publicMatches:
    get:
      description: Get list of randomly sampled public matches
      operationId: get_public_matches
      parameters:
      - description: Get matches with a match ID lower than this value
        explode: true
        in: query
        name: less_than_match_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Minimum rank for the matches. Ranks are represented by integers\
          \ (10-15: Herald, 20-25: Guardian, 30-35: Crusader, 40-45: Archon, 50-55:\
          \ Legend, 60-65: Ancient, 70-75: Divine, 80-85: Immortal). Each increment\
          \ represents an additional star."
        explode: true
        in: query
        name: min_rank
        required: false
        schema:
          type: integer
        style: form
      - description: "Maximum rank for the matches. Ranks are represented by integers\
          \ (10-15: Herald, 20-25: Guardian, 30-35: Crusader, 40-45: Archon, 50-55:\
          \ Legend, 60-65: Ancient, 70-75: Divine, 80-85: Immortal). Each increment\
          \ represents an additional star."
        explode: true
        in: query
        name: max_rank
        required: false
        schema:
          type: integer
        style: form
      - description: Order by average rank ascending
        explode: true
        in: query
        name: mmr_ascending
        required: false
        schema:
          type: integer
        style: form
      - description: Order by average rank descending
        explode: true
        in: query
        name: mmr_descending
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/PublicMatchesResponse'
                type: array
          description: Success
      summary: GET /publicMatches
      tags:
      - public matches
  /parsedMatches:
    get:
      description: Get list of parsed match IDs
      operationId: get_parsed_matches
      parameters:
      - description: Get matches with a match ID lower than this value
        explode: true
        in: query
        name: less_than_match_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ParsedMatchesResponse'
                type: array
          description: Success
      summary: GET /parsedMatches
      tags:
      - parsed matches
  /explorer:
    get:
      description: Submit arbitrary SQL queries to the database
      operationId: get_explorer
      parameters:
      - description: The PostgreSQL query as percent-encoded string.
        explode: true
        in: query
        name: sql
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: ExplorerResponse
                type: object
          description: Success
      summary: GET /explorer
      tags:
      - explorer
  /metadata:
    get:
      description: Site metadata
      operationId: get_metadata
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
          description: Success
      summary: GET /metadata
      tags:
      - metadata
  /distributions:
    get:
      description: Distributions of MMR data by bracket and country
      operationId: get_distributions
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DistributionsResponse'
          description: Success
      summary: GET /distributions
      tags:
      - distributions
  /search:
    get:
      description: Search players by personaname.
      operationId: get_search
      parameters:
      - description: Search string
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/SearchResponse'
                type: array
          description: Success
      summary: GET /search
      tags:
      - search
  /rankings:
    get:
      description: Top players by hero
      operationId: get_rankings
      parameters:
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RankingsResponse'
          description: Success
      summary: GET /rankings
      tags:
      - rankings
  /benchmarks:
    get:
      description: Benchmarks of average stat values for a hero
      operationId: get_benchmarks
      parameters:
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BenchmarksResponse'
          description: Success
      summary: GET /benchmarks
      tags:
      - benchmarks
  /status:
    get:
      description: Get current service statistics
      operationId: get_status
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: StatusResponse
                type: object
          description: Success
      summary: GET /status
      tags:
      - status
  /health:
    get:
      description: Get service health data
      operationId: get_health
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: HealthResponse
                type: object
          description: Success
      summary: GET /health
      tags:
      - health
  /request/{jobId}:
    get:
      description: Get parse request state
      operationId: get_request_by_job_id
      parameters:
      - description: The job ID to query.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: RequestJobResponse
                type: object
          description: Success
      summary: "GET /request/{jobId}"
      tags:
      - request
  /request/{match_id}:
    post:
      description: Submit a new parse request. This call counts as 10 calls for rate
        limit (but not billing) purposes.
      operationId: post_request_by_job_id
      parameters:
      - explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                title: RequestMatchResponse
                type: object
          description: Success
      summary: "POST /request/{match_id}"
      tags:
      - request
  /findMatches:
    get:
      description: Finds recent matches by heroes played
      operationId: get_find_matches
      parameters:
      - description: Hero IDs on first team (array)
        explode: false
        in: query
        name: teamA
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Hero IDs on second team (array)
        explode: false
        in: query
        name: teamB
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  type: object
                title: FindMatchesResponse
                type: array
          description: Success
      summary: GET /
      tags:
      - findMatches
  /heroes:
    get:
      description: Get hero data
      operationId: get_heroes
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/HeroObjectResponse'
                type: array
          description: Success
      summary: GET /heroes
      tags:
      - heroes
  /heroStats:
    get:
      description: Get stats about hero performance in recent matches
      operationId: get_hero_stats
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/HeroStatsResponse'
                type: array
          description: Success
      summary: GET /heroStats
      tags:
      - hero stats
  /heroes/{hero_id}/matches:
    get:
      description: Get recent matches with a hero
      operationId: get_heroes_by_hero_id_select_matches
      parameters:
      - description: Hero ID
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/MatchObjectResponse'
                type: array
          description: Success
      summary: "GET /heroes/{hero_id}/matches"
      tags:
      - heroes
  /heroes/{hero_id}/matchups:
    get:
      description: Get results against other heroes for a hero
      operationId: get_heroes_by_hero_id_select_matchups
      parameters:
      - description: Hero ID
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/HeroMatchupsResponse'
                type: array
          description: Success
      summary: "GET /heroes/{hero_id}/matchups"
      tags:
      - heroes
  /heroes/{hero_id}/durations:
    get:
      description: Get hero performance over a range of match durations
      operationId: get_heroes_by_hero_id_select_durations
      parameters:
      - description: Hero ID
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/HeroDurationsResponse'
                type: array
          description: Success
      summary: "GET /heroes/{hero_id}/durations"
      tags:
      - heroes
  /heroes/{hero_id}/players:
    get:
      description: Get players who have played this hero
      operationId: get_heroes_by_hero_id_select_players
      parameters:
      - description: Hero ID
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  items:
                    $ref: '#/components/schemas/PlayerObjectResponse'
                  type: array
                type: array
          description: Success
      summary: "GET /heroes/{hero_id}/players"
      tags:
      - heroes
  /heroes/{hero_id}/itemPopularity:
    get:
      description: "Get item popularity of hero categoried by start, early, mid and\
        \ late game, analyzed from professional games"
      operationId: get_heroes_by_hero_id_select_item_popularity
      parameters:
      - description: Hero ID
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/HeroItemPopularityResponse'
          description: Success
      summary: "GET /heroes/{hero_id}/itemPopularity"
      tags:
      - heroes
  /leagues:
    get:
      description: Get league data
      operationId: get_leagues
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/LeagueObjectResponse'
                type: array
          description: Success
      summary: GET /leagues
      tags:
      - leagues
  /leagues/{league_id}:
    get:
      description: Get data for a league
      operationId: get_leagues_by_league_id
      parameters:
      - description: League ID
        explode: false
        in: path
        name: league_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/LeagueObjectResponse'
                type: array
          description: Success
      summary: "GET /leagues/{league_id}"
      tags:
      - leagues
  /leagues/{league_id}/matches:
    get:
      description: Get matches for a team
      operationId: get_leagues_by_league_id_select_matches
      parameters:
      - description: League ID
        explode: false
        in: path
        name: league_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MatchObjectResponse'
          description: Success
      summary: "GET /leagues/{league_id}/matches"
      tags:
      - leagues
  /leagues/{league_id}/teams:
    get:
      description: Get teams for a league
      operationId: get_leagues_by_league_id_select_teams
      parameters:
      - description: League ID
        explode: false
        in: path
        name: league_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamObjectResponse'
          description: Success
      summary: "GET /leagues/{league_id}/teams"
      tags:
      - leagues
  /teams:
    get:
      description: Get team data
      operationId: get_teams
      parameters:
      - description: "Page number, zero indexed. Each page returns up to 1000 entries."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/TeamObjectResponse'
                type: array
          description: Success
      summary: GET /teams
      tags:
      - teams
  /teams/{team_id}:
    get:
      description: Get data for a team
      operationId: get_teams_by_team_id
      parameters:
      - description: Team ID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamObjectResponse'
          description: Success
      summary: "GET /teams/{team_id}"
      tags:
      - teams
  /teams/{team_id}/matches:
    get:
      description: Get matches for a team
      operationId: get_teams_by_team_id_select_matches
      parameters:
      - description: Team ID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamMatchObjectResponse'
          description: Success
      summary: "GET /teams/{team_id}/matches"
      tags:
      - teams
  /teams/{team_id}/players:
    get:
      description: Get players who have played for a team
      operationId: get_teams_by_team_id_select_players
      parameters:
      - description: Team ID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamPlayersResponse'
          description: Success
      summary: "GET /teams/{team_id}/players"
      tags:
      - teams
  /teams/{team_id}/heroes:
    get:
      description: Get heroes for a team
      operationId: get_teams_by_team_id_select_heroes
      parameters:
      - description: Team ID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamHeroesResponse'
          description: Success
      summary: "GET /teams/{team_id}/heroes"
      tags:
      - teams
  /records/{field}:
    get:
      description: Get top performances in a stat
      operationId: get_records_by_field
      parameters:
      - description: Field name to query
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/RecordsResponse'
                type: array
          description: Success
      summary: "GET /records/{field}"
      tags:
      - records
  /live:
    get:
      description: Get top currently ongoing live games
      operationId: get_live
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  properties: {}
                  title: LiveResponse
                  type: object
                type: array
          description: Success
      summary: GET /live
      tags:
      - live
  /scenarios/itemTimings:
    get:
      description: Win rates for certain item timings on a hero for items that cost
        at least 1400 gold
      operationId: get_scenarios_item_timings
      parameters:
      - description: Filter by item name e.g. "spirit_vessel"
        explode: true
        in: query
        name: item
        required: false
        schema:
          type: string
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ScenarioItemTimingsResponse'
                type: array
          description: Success
      summary: GET /scenarios/itemTimings
      tags:
      - scenarios
  /scenarios/laneRoles:
    get:
      description: Win rates for heroes in certain lane roles
      operationId: get_scenarios_lane_roles
      parameters:
      - description: "Filter by lane role 1-4 (Safe, Mid, Off, Jungle)"
        explode: true
        in: query
        name: lane_role
        required: false
        schema:
          type: string
        style: form
      - description: Hero ID
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ScenarioLaneRolesResponse'
                type: array
          description: Success
      summary: GET /scenarios/laneRoles
      tags:
      - scenarios
  /scenarios/misc:
    get:
      description: Miscellaneous team scenarios
      operationId: get_scenarios_misc
      parameters:
      - description: Name of the scenario (see teamScenariosQueryParams)
        explode: true
        in: query
        name: scenario
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ScenarioMiscResponse'
                type: array
          description: Success
      summary: GET /scenarios/misc
      tags:
      - scenarios
  /schema:
    get:
      description: Get database schema
      operationId: get_schema
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/SchemaResponse'
                type: array
          description: Success
      summary: GET /schema
      tags:
      - schema
  /constants/{resource}:
    get:
      description: Get static game data mirrored from the dotaconstants repository.
      operationId: get_constants_by_resource
      parameters:
      - description: "Resource name e.g. `heroes`. [List of resources](https://github.com/odota/dotaconstants/tree/master/build)"
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/get_constants_by_resource_200_response'
          description: Success
      summary: GET /constants
      tags:
      - constants
  /constants:
    get:
      description: Gets an array of available resources.
      operationId: get_constants
      parameters: []
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  title: ConstantsResponse
                  type: string
                type: array
          description: Success
      summary: GET /constants
      tags:
      - constants
components:
  parameters:
    heroIdPathParam:
      description: Hero ID
      explode: false
      in: path
      name: hero_id
      required: true
      schema:
        type: integer
      style: simple
    leagueIdPathParam:
      description: League ID
      explode: false
      in: path
      name: league_id
      required: true
      schema:
        type: integer
      style: simple
    matchIdParam:
      explode: false
      in: path
      name: match_id
      required: true
      schema:
        type: integer
      style: simple
    lessThanMatchIdParam:
      description: Get matches with a match ID lower than this value
      explode: true
      in: query
      name: less_than_match_id
      required: false
      schema:
        type: integer
      style: form
    minRankParam:
      description: "Minimum rank for the matches. Ranks are represented by integers\
        \ (10-15: Herald, 20-25: Guardian, 30-35: Crusader, 40-45: Archon, 50-55:\
        \ Legend, 60-65: Ancient, 70-75: Divine, 80-85: Immortal). Each increment\
        \ represents an additional star."
      explode: true
      in: query
      name: min_rank
      required: false
      schema:
        type: integer
      style: form
    maxRankParam:
      description: "Maximum rank for the matches. Ranks are represented by integers\
        \ (10-15: Herald, 20-25: Guardian, 30-35: Crusader, 40-45: Archon, 50-55:\
        \ Legend, 60-65: Ancient, 70-75: Divine, 80-85: Immortal). Each increment\
        \ represents an additional star."
      explode: true
      in: query
      name: max_rank
      required: false
      schema:
        type: integer
      style: form
    mmrAscendingParam:
      description: Order by average rank ascending
      explode: true
      in: query
      name: mmr_ascending
      required: false
      schema:
        type: integer
      style: form
    mmrDescendingParam:
      description: Order by average rank descending
      explode: true
      in: query
      name: mmr_descending
      required: false
      schema:
        type: integer
      style: form
    accountIdParam:
      description: Steam32 account ID
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        type: integer
      style: simple
    fieldParam:
      description: Field to aggregate on
      explode: false
      in: path
      name: field
      required: true
      schema:
        type: string
      style: simple
    projectParam:
      description: Fields to project (array)
      explode: true
      in: query
      name: project
      required: false
      schema:
        type: string
      style: form
    limitParam:
      description: Number of matches to limit to
      explode: true
      in: query
      name: limit
      required: false
      schema:
        type: integer
      style: form
    offsetParam:
      description: Number of matches to offset start by
      explode: true
      in: query
      name: offset
      required: false
      schema:
        type: integer
      style: form
    winParam:
      description: Whether the player won
      explode: true
      in: query
      name: win
      required: false
      schema:
        type: integer
      style: form
    patchParam:
      description: "Patch ID, from dotaconstants"
      explode: true
      in: query
      name: patch
      required: false
      schema:
        type: integer
      style: form
    gameModeParam:
      description: Game Mode ID
      explode: true
      in: query
      name: game_mode
      required: false
      schema:
        type: integer
      style: form
    lobbyTypeParam:
      description: Lobby type ID
      explode: true
      in: query
      name: lobby_type
      required: false
      schema:
        type: integer
      style: form
    regionParam:
      description: Region ID
      explode: true
      in: query
      name: region
      required: false
      schema:
        type: integer
      style: form
    dateParam:
      description: Days previous
      explode: true
      in: query
      name: date
      required: false
      schema:
        type: integer
      style: form
    laneRoleParam:
      description: Lane Role ID
      explode: true
      in: query
      name: lane_role
      required: false
      schema:
        type: integer
      style: form
    heroIdParam:
      description: Hero ID
      explode: true
      in: query
      name: hero_id
      required: false
      schema:
        type: integer
      style: form
    isRadiantParam:
      description: Whether the player was radiant
      explode: true
      in: query
      name: is_radiant
      required: false
      schema:
        type: integer
      style: form
    includedAccountIdParam:
      description: Account IDs in the match (array)
      explode: true
      in: query
      name: included_account_id
      required: false
      schema:
        type: integer
      style: form
    excludedAccountIdParam:
      description: Account IDs not in the match (array)
      explode: true
      in: query
      name: excluded_account_id
      required: false
      schema:
        type: integer
      style: form
    withHeroIdParam:
      description: Hero IDs on the player's team (array)
      explode: true
      in: query
      name: with_hero_id
      required: false
      schema:
        type: integer
      style: form
    againstHeroIdParam:
      description: Hero IDs against the player's team (array)
      explode: true
      in: query
      name: against_hero_id
      required: false
      schema:
        type: integer
      style: form
    significantParam:
      description: "Whether the match was significant for aggregation purposes. Defaults\
        \ to 1 (true), set this to 0 to return data for non-standard modes/matches."
      explode: true
      in: query
      name: significant
      required: false
      schema:
        type: integer
      style: form
    havingParam:
      description: "The minimum number of games played, for filtering hero stats"
      explode: true
      in: query
      name: having
      required: false
      schema:
        type: integer
      style: form
    sortParam:
      description: The field to return matches sorted by in descending order
      explode: true
      in: query
      name: sort
      required: false
      schema:
        type: string
      style: form
    scenarioParam:
      description: Name of the scenario (see teamScenariosQueryParams)
      explode: true
      in: query
      name: scenario
      required: false
      schema:
        type: string
      style: form
    teamIdPathParam:
      description: Team ID
      explode: false
      in: path
      name: team_id
      required: true
      schema:
        type: integer
      style: simple
  schemas:
    BenchmarksResponse:
      example:
        result:
          gold_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          tower_damage:
          - percentile: 5.962133916683182
            value: 5
          - percentile: 5.962133916683182
            value: 5
          last_hits_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          hero_damage_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          xp_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          hero_healing_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          kills_per_min:
          - percentile: 6.027456183070403
            value: 1.4658129805029452
          - percentile: 6.027456183070403
            value: 1.4658129805029452
        hero_id: 0
      properties:
        hero_id:
          description: The ID value of the hero played
          type: integer
        result:
          $ref: '#/components/schemas/BenchmarksResponse_result'
      title: BenchmarksResponse
      type: object
    DistributionsResponse:
      example:
        ranks:
          sum:
            count: 5
          rows:
          - bin: 0
            bin_name: 6
            cumulative_sum: 5
            count: 1
          - bin: 0
            bin_name: 6
            cumulative_sum: 5
            count: 1
      properties:
        ranks:
          $ref: '#/components/schemas/DistributionsResponse_ranks'
      title: DistributionsResponse
      type: object
    HeroDurationsResponse:
      example:
        wins: 6
        duration_bin: duration_bin
        games_played: 0
      properties:
        duration_bin:
          description: Lower bound of number of seconds the match lasted
          type: string
        games_played:
          description: Number of games played
          type: integer
        wins:
          description: Number of wins
          type: integer
      title: HeroDurationsResponse
      type: object
    HeroItemPopularityResponse:
      example:
        mid_game_items:
          item: 1
        late_game_items:
          item: 5
        early_game_items:
          item: 6
        start_game_items:
          item: 0
      properties:
        start_game_items:
          $ref: '#/components/schemas/HeroItemPopularityResponse_start_game_items'
        early_game_items:
          $ref: '#/components/schemas/HeroItemPopularityResponse_early_game_items'
        mid_game_items:
          $ref: '#/components/schemas/HeroItemPopularityResponse_mid_game_items'
        late_game_items:
          $ref: '#/components/schemas/HeroItemPopularityResponse_late_game_items'
      title: HeroItemPopularityResponse
      type: object
    HeroMatchupsResponse:
      example:
        wins: 1
        games_played: 6
        hero_id: 0
      properties:
        hero_id:
          description: The ID value of the hero played
          type: integer
        games_played:
          description: Number of games played
          type: integer
        wins:
          description: Number of games won
          type: integer
      title: HeroMatchupsResponse
      type: object
    HeroObjectResponse:
      example:
        primary_attr: primary_attr
        attack_type: attack_type
        roles:
        - roles
        - roles
        name: npc_dota_hero_antimage
        id: 0
        localized_name: Anti-Mage
      properties:
        id:
          description: The ID value of the hero played
          type: integer
        name:
          description: Dota hero command name
          example: npc_dota_hero_antimage
          type: string
        localized_name:
          description: Hero name
          example: Anti-Mage
          type: string
        primary_attr:
          description: "Hero primary shorthand attribute name, e.g. 'agi'"
          type: string
        attack_type:
          description: "Hero attack type, either 'Melee' or 'Ranged'"
          type: string
        roles:
          items:
            description: A hero's role in the game
            type: string
          type: array
      required:
      - id
      title: HeroObjectResponse
      type: object
    HeroStatsResponse:
      example:
        primary_attr: primary_attr
        attack_range: 6
        attack_type: attack_type
        "5_pick": 6
        pro_pick: 6
        "1_win": 5
        base_health: 6
        legs: 6
        "8_win": 7
        id: 0
        "6_pick": 4
        str_gain: 1.2315135367772556
        night_vision: 9
        "2_win": 3
        attack_rate: 1.1730742509559433
        base_str: 2
        "3_win": 7
        agi_gain: 1.0246457001441578
        attack_point: 5.025004791520295
        "8_pick": 3
        name: npc_dota_hero_antimage
        turbo_picks: 3
        projectile_speed: 7
        day_vision: 8
        pro_win: 2
        img: img
        cm_enabled: true
        "5_win": 0
        roles:
        - roles
        - roles
        icon: icon
        turbo_wins: 6
        base_mana: 5
        localized_name: Anti-Mage
        "2_pick": 6
        "4_win": 7
        hero_id: 6
        "3_pick": 3
        "7_pick": 7
        "7_win": 3
        base_armor: 2
        "1_pick": 6
        "4_pick": 0
        base_mana_regen: 5
        base_attack_max: 3
        base_int: 7
        int_gain: 1.4894159098541704
        move_speed: 9
        turn_rate: 9.369310271410669
        pro_ban: 1
        "6_win": 8
        base_attack_min: 9
        base_attack_time: 4
        base_agi: 4
        base_health_regen: 1.4658129805029452
        base_mr: 7
      properties:
        id:
          description: The ID value of the hero played
          type: integer
        name:
          description: Dota hero command name
          example: npc_dota_hero_antimage
          type: string
        localized_name:
          description: Hero name
          example: Anti-Mage
          type: string
        primary_attr:
          description: primary_attr
          type: string
        attack_type:
          description: attack_type
          type: string
        roles:
          description: roles
          items:
            type: string
          type: array
        img:
          description: img
          type: string
        icon:
          description: icon
          type: string
        base_health:
          description: base_health
          type: integer
        base_health_regen:
          description: base_health_regen
          type: number
        base_mana:
          description: base_mana
          type: integer
        base_mana_regen:
          description: base_mana_regen
          type: integer
        base_armor:
          description: base_armor
          type: integer
        base_mr:
          description: base_mr
          type: integer
        base_attack_min:
          description: base_attack_min
          type: integer
        base_attack_max:
          description: base_attack_max
          type: integer
        base_str:
          description: base_str
          type: integer
        base_agi:
          description: base_agi
          type: integer
        base_int:
          description: base_int
          type: integer
        str_gain:
          description: str_gain
          type: number
        agi_gain:
          description: agi_gain
          type: number
        int_gain:
          description: int_gain
          type: number
        attack_range:
          description: attack_range
          type: integer
        projectile_speed:
          description: projectile_speed
          type: integer
        attack_rate:
          description: attack_rate
          type: number
        base_attack_time:
          description: base_attack_time
          type: integer
        attack_point:
          description: attack_point
          type: number
        move_speed:
          description: move_speed
          type: integer
        turn_rate:
          description: turn_rate
          type: number
        cm_enabled:
          description: cm_enabled
          type: boolean
        legs:
          description: legs
          type: integer
        day_vision:
          description: day_vision
          type: integer
        night_vision:
          description: night_vision
          type: integer
        hero_id:
          description: The ID value of the hero played
          type: integer
        turbo_picks:
          description: Picks in Turbo mode this month
          type: integer
        turbo_wins:
          description: Wins in Turbo mode this month
          type: integer
        pro_ban:
          description: pro_ban
          type: integer
        pro_win:
          description: pro_win
          type: integer
        pro_pick:
          description: pro_pick
          type: integer
        "1_pick":
          description: Herald picks
          type: integer
        "1_win":
          description: Herald wins
          type: integer
        "2_pick":
          description: Guardian picks
          type: integer
        "2_win":
          description: Guardian wins
          type: integer
        "3_pick":
          description: Crusader picks
          type: integer
        "3_win":
          description: Crusader wins
          type: integer
        "4_pick":
          description: Archon picks
          type: integer
        "4_win":
          description: Archon wins
          type: integer
        "5_pick":
          description: Legend picks
          type: integer
        "5_win":
          description: Legend wins
          type: integer
        "6_pick":
          description: Ancient picks
          type: integer
        "6_win":
          description: Ancient wins
          type: integer
        "7_pick":
          description: Divine picks
          type: integer
        "7_win":
          description: Divine wins
          type: integer
        "8_pick":
          description: Immortal picks
          type: integer
        "8_win":
          description: Immortal wins
          type: integer
      title: HeroStatsResponse
      type: object
    LeagueObjectResponse:
      example:
        ticket: ticket
        tier: tier
        leagueid: 0
        name: ASUS ROG DreamLeague Season 4
        banner: banner
      properties:
        leagueid:
          description: leagueid
          type: integer
        ticket:
          description: ticket
          type: string
        banner:
          description: banner
          type: string
        tier:
          description: tier
          type: string
        name:
          description: League name
          example: ASUS ROG DreamLeague Season 4
          type: string
      title: LeagueObjectResponse
      type: object
    MatchObjectResponse:
      example:
        match_id: 3703866531
        league_name: league_name
        series_type: 7
        radiant: true
        series_id: 2
        duration: 0
        start_time: 6
        radiant_name: radiant_name
        radiant_win: true
        dire_name: dire_name
        leagueid: 5
        dire_score: 3
        radiant_team_id: 1
        radiant_score: 9
        dire_team_id: 5
      properties:
        match_id:
          description: The ID number of the match assigned by Valve
          example: 3703866531
          type: integer
        duration:
          description: Duration of the game in seconds
          type: integer
        start_time:
          description: The Unix timestamp at which the game started
          type: integer
        radiant_team_id:
          description: The Radiant's team_id
          type: integer
        radiant_name:
          description: The Radiant's team name
          type: string
        dire_team_id:
          description: The Dire's team_id
          type: integer
        dire_name:
          description: The Dire's team name
          type: string
        leagueid:
          description: Identifier for the league the match took place in
          type: integer
        league_name:
          description: Name of league the match took place in
          type: string
        series_id:
          description: Identifier for the series of the match
          type: integer
        series_type:
          description: Type of series the match was
          type: integer
        radiant_score:
          description: Number of kills the Radiant team had when the match ended
          type: integer
        dire_score:
          description: Number of kills the Dire team had when the match ended
          type: integer
        radiant_win:
          description: Boolean indicating whether Radiant won the match
          nullable: true
          type: boolean
        radiant:
          description: Whether the team/player/hero was on Radiant
          type: boolean
      title: MatchObjectResponse
      type: object
    MatchResponse:
      example:
        first_blood_time: 7
        cluster: 2
        match_seq_num: 9
        replay_salt: 3
        human_players: 4
        all_word_counts: "{}"
        series_type: 7
        barracks_status_radiant: 6
        radiant_team: "{}"
        comeback: 9
        cosmetics:
          key: 7
        duration: 1
        patch: 3
        loss: 4
        radiant_win: true
        radiant_xp_adv:
        - 2.8841621266687802
        - 2.8841621266687802
        my_word_counts: "{}"
        engine: 6
        skill: 0
        negative_votes: 6
        picks_bans:
        - hero_id: 8
          team: 9
          is_pick: true
          order: 6
        - hero_id: 8
          team: 9
          is_pick: true
          order: 6
        win: 8
        dire_team: "{}"
        replay_url: replay_url
        tower_status_radiant: 5
        teamfights:
        - "{}"
        - "{}"
        players:
        - obs: "{}"
          cluster: 2
          gold_spent: 0
          obs_left_log:
          - "{}"
          - "{}"
          runes:
            key: 5
          observer_kills: 1
          purchase_tpscroll: 7
          obs_log:
          - "{}"
          - "{}"
          lane_role: 7
          observer_uses: 5
          patch: 4
          neutral_kills: 6
          roshan_kills: 5
          item_uses: "{}"
          pings: 3
          deaths: 4
          purchase_log:
          - charges: 8
            time: 9
            key: key
          - charges: 8
            time: 9
            key: key
          gold_per_min: 9
          last_login: 2000-01-23T04:56:07.000+00:00
          lose: 7
          kda: 0.58919091925136
          lane_pos: "{}"
          kills_per_min: 9.386524999783381
          xp_reasons: "{}"
          buyback_count: 5
          necronomicon_kills: 1
          multi_kills: "{}"
          kills_log:
          - time: 1
            key: key
          - time: 1
            key: key
          rune_pickups: 0
          actions: "{}"
          damage: "{}"
          lh_t:
          - 8
          - 8
          gold_t:
          - 9
          - 9
          first_purchase_time: "{}"
          additional_units:
          - "{}"
          - "{}"
          gold: 7
          radiant_win: true
          camps_stacked: 3
          runes_log:
          - time: 5
            key: 8
          - time: 5
            key: 8
          purchase_time: "{}"
          sen: "{}"
          ancient_kills: 4
          actions_per_min: 7
          match_id: 3703866531
          life_state_dead: 9
          lane_kills: 9
          hero_kills: 1
          stuns: 3.7814124730767915
          account_id: 0
          leaver_status: 6
          hero_healing: 7
          max_hero_hit: "{}"
          killed_by: "{}"
          game_mode: 8
          obs_placed: 9
          total_xp: 2
          item_win: "{}"
          gold_reasons: "{}"
          personaname: 420 booty wizard
          damage_inflictor_received: "{}"
          damage_inflictor: "{}"
          total_gold: 4
          buyback_log:
          - player_slot: 5
            time: 3
            slot: 7
          - player_slot: 5
            time: 3
            slot: 7
          sentry_kills: 3
          kill_streaks: "{}"
          hero_hits: "{}"
          xp_per_min: 5
          benchmarks: "{}"
          level: 4
          abandons: 2
          player_slot: 7
          damage_taken: "{}"
          start_time: 0
          last_hits: 8
          sentry_uses: 3
          ability_uses: "{}"
          item_5: 0
          item_4: 3
          item_usage: "{}"
          item_3: 4
          name: name
          item_2: 8
          item_1: 6
          lane_efficiency: 1.0639121808530916
          creeps_stacked: 6
          item_0: 4
          region: 0
          kills: 2
          hero_damage: 0
          tower_kills: 4
          backpack_1: 7
          damage_targets: "{}"
          backpack_2: 3
          denies: 1
          backpack_0: 8
          life_state: "{}"
          courier_kills: 6
          cosmetics:
          - prefab: prefab
            image_inventory: image_inventory
            item_type_name: item_type_name
            item_id: 4
            image_path: image_path
            name: name
            item_name: item_name
            creation_date: 2000-01-23T04:56:07.000+00:00
            item_description: item_description
            used_by_heroes: used_by_heroes
            item_rarity: item_rarity
          - prefab: prefab
            image_inventory: image_inventory
            item_type_name: item_type_name
            item_id: 4
            image_path: image_path
            name: name
            item_name: item_name
            creation_date: 2000-01-23T04:56:07.000+00:00
            item_description: item_description
            used_by_heroes: used_by_heroes
            item_rarity: item_rarity
          dn_t:
          - 4
          - 4
          duration: 3
          permanent_buffs:
          - "{}"
          - "{}"
          times:
          - 3
          - 3
          lane_efficiency_pct: 3.2841216543560217
          assists: 4
          tower_damage: 9
          xp_t:
          - 7
          - 7
          rank_tier: 1
          connection_log:
          - player_slot: 0
            time: 4
            event: event
          - player_slot: 0
            time: 4
            event: event
          isRadiant: true
          hero_id: 5
          win: 0
          lane: 9
          sen_log:
          - "{}"
          - "{}"
          sen_left_log:
          - "{}"
          - "{}"
          is_roaming: true
          purchase: "{}"
          lobby_type: 3
          ability_targets: "{}"
          killed: "{}"
          sen_placed: 7
          ability_upgrades_arr:
          - 6
          - 6
          party_id: 1
        - obs: "{}"
          cluster: 2
[...]
